<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Erreur !!! - Bienvenue sur MonJournal !!!</title>
</head>
<body>

<h1>Bienvenue sur MonJournal !!!</h1>

<h2>Erreur !!!</h2>

<p>
	Message : {{ message_erreur }}
</p>

</body>
</html>
